* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #1A1B21;
  color: white;
  width: 321px;
  height: 740px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.image {
  width: 321px;
  height: 250px;
}

h1 {
  font-size: 1.8rem;
  margin-top: 10px;
}

.profile {
  color: #f3bf99;
  font-size: 1rem;
}

.buttons {
  margin-top: 10px;
  font-weight: 700;
}

.mail,
.linkedin {
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-right: 9px;
  cursor: pointer;
}

#mail-img,
#linkedin-icon {
  vertical-align: middle;
  padding: 2px;
}

.linkedin {
  background-color: #5093e2;
  color: white;
}

main {
  text-align: left;
 
  padding: 15px;
}

h2 {
  font-size: 1.5rem;
 padding: 9px 0 9px 0;
}

main > p {
 font-size: 0.85rem;
 color: rgb(230, 219, 219);
 line-height: 21px;
}

footer {
  background-color: #161619;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer > img {
  cursor: pointer;
}