* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.container {
  background-color: #1A1B21;
  color: white;
  width: 317px;
  height: 950px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.image {
  width: 316px;
}

h1 {
  font-size: 2rem;
  margin-top: 35px;
}

.profile {
  color: #f3bf99;
  font-size: 1rem;
}

.buttons {
  margin-top: 29px;
  font-weight: 700;
}

.mail,
.linkedin {
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.linkedin {
  background-color: #5093e2;
  color: white;
}

main {
  text-align: left;
  margin-left: 20px;
  margin-top: 25px;
}

h2 {
  font-size: 1.7rem;
 padding: 12px 0 12px 0;
}

main > p {
 font-size: 0.9rem;
 color: rgb(230, 219, 219);
 line-height: 28px;
}

footer {
  background-color: #161619;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}